body{
  font-family: Oswald;
  text-align: center;
  //background-color: #027027;
  background: url("bg-alum.png");
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 25px;
}
.navbar{
  font-size: 15px;
  display: inline-flex;
  bottom: -50px;
  text-decoration: none;
  color: black;
  padding: 0px 15px 0px 15px;
}
.navbar :hover{
  color:#027027;
}
.navbar-selected{
  color:#027027;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  font-size: 15px;
  display: inline-flex;
  bottom: -50px;
}
div.navbar{
  background-color: #f2f3f4;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.navbar-logo{
  max-width: 100px;
  position: relative;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
}
.contact-container{
  background-color: #f2f3f4;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.contact-modo{
  display: inline-block;
  position: relative;
  top: -100px;
  padding: 20px;
  font-size: 20px;
  width: 350px;
}
.contact-info{
  padding: 50px;
  display: inline-block;
}
.contact-socials{
  display: inline-block;
}
.social-icon{
  position: relative;
  left: -20px;
  padding: 10px;

}
.info-block{
  //background: url("bg-alum.png");
  //background-color: #f2f3f4;
  background-color: #027027;
  margin: auto;
  padding: 50px;
  width:50%;
  color: #f2f3f4;
}
