
html{
    width:100%;
    height:100%;
    font-size: 20px;
}
body{
  font-family: Oswald;
  text-align: center;
  //background-color: #027027;
  background: url("bg-alum.png");
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
}
h1{
  font-size: 2.75rem;
}
h2{
  font-size: 2.25rem;
}
h3{
  font-size: 1.25rem;
}
.navbar{
  display: inline-flex;
  width: 100%;
  bottom: -2.5rem;
  text-decoration: none;
  color: black;
  padding: 0rem .5rem 0rem .5rem;
}

@media only screen and (max-width: 1670px){
  .navbar{
    display: inline-flex;
    width: 100%;
    bottom: -2.5rem;
    text-decoration: none;
    color: black;
    padding: 0rem .25rem 0rem .25rem;
  }
  .navbar h2 {
    font-size: 1rem;
  }
  .navbar-logo{
    display: none;
  }
}
.navbar :hover{
  color:#027027;
}
.navbar-selected{
  color:#027027;
  text-decoration: none;
  padding: 0rem .75rem 0rem .75rem;
  display: inline-flex;
  bottom: -2.5rem;
}
div.navbar{
  background-color: #f2f3f4;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}
.navbar-logo{
  max-width: 100%;
  position: relative;
  bottom: 0rem;
  padding: 0rem;
  margin: 0rem;
}
.contact-container{
  background-color: #f2f3f4;
  width: auto;
  padding: 0rem;
  margin: 0rem;
}
.contact-modo{
  display: inline-block;
  position: relative;
  padding: 1rem;
  top: -5rem;
  font-size: 1rem;
  width: 17.5rem;
}
.contact-info{
  padding: 2.5rem;
  display: inline-block;
}
.contact-socials{
  display: inline-block;
}
.social-icon{
  position: relative;
  left: -1rem;
  padding: .5rem;

}
.info-block{
  //background: url("bg-alum.png");
  //background-color: #f2f3f4;
  background-color: #027027;
  margin: auto;
  padding: 2.5rem;
  width:50%;
  color: #f2f3f4;
}

.info-block ul{
  list-style: none;
}
